{% extends 'base.html.twig' %}

{% block title %}Shoes index{% endblock %}

{% block body %}
    <h1>Shoes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Color</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for shoe in shoes %}
            <tr>
                <td>{{ shoe.id }}</td>
                <td>{{ shoe.name }}</td>
                <td>{{ shoe.price }}</td>
                <td>{{ shoe.description }}</td>
                <td>{{ shoe.color }}</td>
                <td>{{ shoe.image }}</td>
                <td>
                    <a href="{{ path('app_shoes_show', {'id': shoe.id}) }}">show</a>
                    <a href="{{ path('app_shoes_edit', {'id': shoe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_shoes_new') }}">Create new</a>
{% endblock %}
